@charset "UTF-8";
@use 'mixin' as m;

body {
    font-size: 100%;
    color: #333333;
    height: 100%;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;
    background-color: #F0F0F0;
}

img {
    vertical-align: bottom;
    width: 100%;
}

a {
    text-decoration: none;
    color: #333333;
    display: inline-block;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.7;
    }
}

li {
    list-style: none;
}

.container {
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;

    @include m.tab {
        max-width: 768px;
    }
}

.sec-cta {
    position: relative;

    .cta {
        position: absolute;
        top: 23%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 20px;
        width: 100%;

        .cta-btn {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
}


.slick {
    .slider {
        .slide {}

        .prev-arrow,
        .next-arrow {
            height: 30px;
            width: 30px;
            border: 1px solid #cc9933;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            cursor: pointer;
        }

        .prev-arrow {
            left: -20px;

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-30%, -50%) rotate(45deg);
                content: "";
                height: 10px;
                width: 10px;
                border-bottom: 2px solid #cc9933;
                border-left: 2px solid #cc9933;
            }
        }

        .next-arrow {
            right: -20px;

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-80%, -50%) rotate(225deg);
                content: "";
                height: 10px;
                width: 10px;
                border-bottom: 2px solid #cc9933;
                border-left: 2px solid #cc9933;
            }
        }

        .slick-dots {
            bottom: -35px;

            li {
                margin: 0 6px;
                width: 9px;
                height: 9px;
                border-radius: 50%;

                button {
                    &::before {
                        content: '';
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        background: #f0e0c2;
                        opacity: 1;
                    }
                }

                &.slick-active {
                    button {
                        &::before {
                            content: '';
                            width: 9px;
                            height: 9px;
                            border-radius: 50%;
                            background: #cc9933;
                            opacity: 1;
                        }
                    }
                }
            }

            .slick-active {
                &::before {
                    content: '';
                    width: 50px;
                    height: 5px;
                    background: #333;
                    opacity: 1;
                }
            }
        }
    }
}

.sec01 {}

.sec02 {}

.sec03 {}

.sec04 {}

.sec05.sec-cta {
    position: relative;

    .cta {
        position: absolute;
        top: 25%;
    }
}

.sec06 {
    background-color: #faf5eb;
    padding-bottom: 55px;

    .sec06-slick {
        padding: 0 20px;

        .accordion-item {
            background-color: #ffffff;
            padding-bottom: 30px; // 閉じている時の下の余白

            .accordion-header {
                cursor: pointer;

                .btn-opened {
                    display: none;
                }

                .btn-closed {
                    display: block;
                }

                &.is-active {
                    .btn-opened {
                        display: block;
                    }

                    .btn-closed {
                        display: none;
                    }
                }
            }

            .accordion-content {
                display: none;

                img {
                    width: 100%;
                    display: block;
                }
            }

            &.is-open-padding {
                padding-bottom: 0;
            }
        }
    }
}

.sec07 {}

.sec08.sec-cta {
    position: relative;

    .cta {
        position: absolute;
        top: 20%;
    }
}

.sec09 {
    background-color: #faf5eb;
    padding-bottom: 100px;

    .sec09-slick {
        padding: 0 20px;
    }
}

.sec10 {
    padding-bottom: 45px;

    .sec10-clinic {
        padding: 0 20px;

        .sec10-item {
            margin-bottom: 12px;

            .accordion-item {
                width: 100%;

                .accordion-header {
                    cursor: pointer;

                    .btn-opened {
                        display: none;
                    }

                    .btn-closed {
                        display: block;
                    }

                    &.is-active {
                        .btn-opened {
                            display: block;
                        }

                        .btn-closed {
                            display: none;
                        }
                    }
                }

                .accordion-content {
                    display: none;
                    overflow: hidden;

                    .sec10-item-open {
                        position: relative;
                        width: 100%;

                        img {
                            width: 100%;
                            display: block;
                        }

                        iframe {
                            position: absolute;
                            bottom: 5%;
                            left: 50%;
                            transform: translateX(-50%);
                            width: calc(100% - 70px);
                            max-width: 440px;
                            aspect-ratio: 28 / 15;
                            height: auto;
                            border: none;

                            @include m.tab {
                                max-width: 658px;
                                max-height: 353px;
                            }
                        }
                    }
                }
            }
        }
    }
}


footer {
    padding-bottom: 100px;

    .container {
        .fixedbtn {
            background-color: #ffffff;
            position: fixed;
            z-index: 100;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            max-width: 550px;
            width: 100%;
            display: flex;
            gap: 2px;

            @include m.tab {
                max-width: 768px;
            }
        }
    }
}